services:
    Ibexa\Platform\Bundle\Search\Form\Type\SearchType:
        arguments:
            $permissionResolver: '@eZ\Publish\API\Repository\PermissionResolver'
            $configResolver: '@ezpublish.config.resolver'
        tags:
            - { name: form.type, alias: Ibexa\Platform\Bundle\Search\Form\Type\SearchType }

    Ibexa\Platform\Bundle\Search\Form\ChoiceLoader\ConfiguredLanguagesChoiceLoader:
        arguments:
            $languageService: '@ezpublish.api.service.language'
            $configResolver: '@ezpublish.config.resolver'

    Ibexa\Platform\Bundle\Search\Form\Type\UserType:
        arguments:
            $userService: '@ezpublish.api.service.user'
        tags:
            - { name: form.type, alias: Ibexa\Platform\Bundle\Search\Form\Type\UserType }

    Ibexa\Platform\Bundle\Search\Form\Type\LanguageChoiceType:
        arguments:
            $languageChoiceLoader: '@Ibexa\Platform\Bundle\Search\Form\ChoiceLoader\ConfiguredLanguagesChoiceLoader'
        tags:
            - { name: form.type, alias: Ibexa\Platform\Bundle\Search\Form\Type\UserType }

    Ibexa\Platform\Bundle\Search\Form\ChoiceLoader\ContentTypeChoiceLoader:
        arguments:
            $contentTypeService: '@ezpublish.api.service.content_type'
            $userLanguagePreferenceProvider: '@eZ\Publish\Core\MVC\Symfony\Locale\UserLanguagePreferenceProvider'

    Ibexa\Platform\Bundle\Search\Form\Type\ContentTypeChoiceType:
        arguments:
            $contentTypeService: '@ezpublish.api.service.content_type'
            $contentTypeChoiceLoader: '@Ibexa\Platform\Bundle\Search\Form\ChoiceLoader\ContentTypeChoiceLoader'
        tags:
            - { name: form.type, alias: Ibexa\Platform\Bundle\Search\Form\Type\ContentTypeChoiceType }

    Ibexa\Platform\Bundle\Search\Form\Type\SectionChoiceType:
        arguments:
            $sectionService: '@eZ\Publish\Core\Repository\SiteAccessAware\SectionService'
        tags:
            - { name: form.type, alias: Ibexa\Platform\Bundle\Search\Form\Type\SectionChoiceType }

    Ibexa\Platform\Bundle\Search\Form\Type\SearchUsersType:
        arguments:
            $repository: '@ezpublish.api.repository'
            $searchService: '@ezpublish.api.service.search'
            $userContentTypeIdentifier: '%ezplatform.user.content_type_identifier%'
        tags:
            - { name: form.type, alias: Ibexa\Platform\Bundle\Search\Form\Type\SearchUsersType }
